table.manji {
  border-collapse: collapse;
}

table.manji td {
  width: 40px;
  height: 40px;
}

table.manji td.with-color {
  background-color: crimson;
}






/*
selector {
  propiedad: valor;
  propiedad: valor;
  propiedad: valor;
  propiedad: valor;
}
*/

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li.reverse {
  background-color: black;
}

nav ul li.reverse a {
  color: white;
}

#special {
  color: red;
}
